*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.main_box{
    background-image: url("assets/backgroundimg2.jpg");
    background-color: #111;
    min-height: 100vh;
    background-size: auto;
    background-position: left top;
    background-repeat: repeat;
}
.btn_one i{
    color: black;
    font-size: 30px;
    font-weight: 700;
    position: fixed;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 6px rgba(255,255,255, 0.5);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255,255,255, 0.5);
}
.sidebar_menu .logo a{
    position:absolute;
    left:50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.sidebar_menu .btn_two i{
    color:grey;
    font-size: 25px;
    line-height: 60px;
    position:absolute;
    left: 275px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s linear;

}
.sidebar_menu .menu{
    position:absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu i, .sidebar_menu .menu a{
    color:white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
    color:white;
    opacity: 0.5;
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu .social_media i{
    color:white;
    opacity: 0.5;
    padding: 0 5px;
}
.check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255,255,255, 0.5);
}
.btn_one i:hover{
    font-size: 40px;
}
.btn_two i:hover{
    font-size: 30px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}
#check:checked ~ .sidebar_menu{
    left:0; 
}
#check:checked ~ .btn_one i{
    left:0; 
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}
.card{
    background-color: rgba(255,255,255, 0.5);
    width: 150px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    transition: all 0.3s linear;
}
.card:hover{
    box-shadow: 0 0 8px rgba(56, 54, 54, 0.6);
    transform: scale(1.05);
}
.card-container{
    display: flex;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    gap: 0.75rem;
}
.card-img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: block;
    border-radius: 0.5rem;
}
.card-title{
    font-weight: 600;
}
.photo-cards{
    margin-left: 5rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.display-container {
    position: fixed;
    background-color: rgba(156, 151, 151, 0.367);
    top: 2.5rem;
    left: 2.5rem;
    bottom: 2.5rem;
    right: 2.5rem;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.25s ease-in-out;
}
.cross-btn{
    position: absolute;
    top: 0.1rem;
    right: 1rem;
    opacity: 0;
    color:whitesmoke;
    font-size: 25px;
    line-height: 60px;
}
.cross-position{
    top: 1rem;
    right: 1rem;
}
.display-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
}
#check1:checked ~ #display-container1,
#check2:checked ~ #display-container2,
#check3:checked ~ #display-container3,
#check4:checked ~ #display-container4,
#check5:checked ~ #display-container5,
#check6:checked ~ #display-container6,
#check7:checked ~ #display-container7,
#check8:checked ~ #display-container8,
#check9:checked ~ #display-container9,
#check10:checked ~ #display-container10,
#check11:checked ~ #display-container11,
#check12:checked ~ #display-container12,
#check13:checked ~ #display-container13,
#check14:checked ~ #display-container14,
#check15:checked ~ #display-container15,
#check16:checked ~ #display-container16,
#check17:checked ~ #display-container17,
#check18:checked ~ #display-container18,
#check19:checked ~ #display-container19,
#check20:checked ~ #display-container20,
#check21:checked ~ #display-container21,
#check22:checked ~ #display-container22,
#check23:checked ~ #display-container23,
#check24:checked ~ #display-container24,
#check25:checked ~ #display-container25,
#check26:checked ~ #display-container26,
#check27:checked ~ #display-container27,
#check28:checked ~ #display-container28,
#check29:checked ~ #display-container29,
#check30:checked ~ #display-container30,
#check31:checked ~ #display-container31,
#check32:checked ~ #display-container32,
#check33:checked ~ #display-container33,
#check34:checked ~ #display-container34{
    opacity: 1;
    pointer-events: all;
    visibility: visible;
}

#check1:checked ~ #display-container1 .cross-btn,
#check2:checked ~ #display-container2 .cross-btn,
#check3:checked ~ #display-container3 .cross-btn,
#check4:checked ~ #display-container4 .cross-btn,
#check5:checked ~ #display-container5 .cross-btn,
#check6:checked ~ #display-container6 .cross-btn,
#check7:checked ~ #display-container7 .cross-btn,
#check8:checked ~ #display-container8 .cross-btn,
#check9:checked ~ #display-container9 .cross-btn,
#check10:checked ~ #display-container10 .cross-btn,
#check11:checked ~ #display-container11 .cross-btn,
#check12:checked ~ #display-container12 .cross-btn,
#check13:checked ~ #display-container13 .cross-btn,
#check14:checked ~ #display-container14 .cross-btn,
#check15:checked ~ #display-container15 .cross-btn,
#check16:checked ~ #display-container16 .cross-btn,
#check17:checked ~ #display-container17 .cross-btn,
#check18:checked ~ #display-container18 .cross-btn,
#check19:checked ~ #display-container19 .cross-btn,
#check20:checked ~ #display-container20 .cross-btn,
#check21:checked ~ #display-container21 .cross-btn,
#check22:checked ~ #display-container22 .cross-btn,
#check23:checked ~ #display-container23 .cross-btn,
#check24:checked ~ #display-container24 .cross-btn,
#check25:checked ~ #display-container25 .cross-btn,
#check26:checked ~ #display-container26 .cross-btn,
#check27:checked ~ #display-container27 .cross-btn,
#check28:checked ~ #display-container28 .cross-btn,
#check29:checked ~ #display-container29 .cross-btn,
#check30:checked ~ #display-container30 .cross-btn,
#check31:checked ~ #display-container31 .cross-btn,
#check32:checked ~ #display-container32 .cross-btn,
#check33:checked ~ #display-container33 .cross-btn,
#check34:checked ~ #display-container34 .cross-btn{
    opacity: 1;
}


